/* stylesheet for calculator project */

.calculator-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    background: linear-gradient(
        rgb(20, 20, 20), 
        grey, 
        rgb(20, 20, 20));
    width: 40vw;
    height: 60vh;
    margin: 10vh auto;
    padding: 5px;
    min-width: 300px;
    max-width: 350px;
    min-height: 450px;
    max-height: 475px;
    border: solid black;
    border-radius: 8px;
}

.display-container {
    display: flex;
    flex-direction: column;
    background: linear-gradient(
        rgba(120, 185, 245, 0.788),
        rgba(25, 144, 255, 0.788),
        rgba(120, 185, 245, 0.788));
    border-radius: inherit;
}

.display-container {
    justify-content: center;
    align-items: center;
    gap: 3px;
    height: 20%;
    width: 96%;
}

.display__window {
    display: flex;
    flex-direction: row;
    align-self: center;
    align-items: flex-end;
    background: linear-gradient(
        white, 
        rgb(191, 219, 241), 
        white
    );
    width: 90%;
    height: 50%;   
    border:solid black;
    border-radius: 8px;
}

.display__clear {
    align-self: flex-end;
    border-radius: 4px;
    margin-right: 5%;
}

.input-container {
    height: 80%;
    border-radius: 8px;
    width: 96%;
    display: flex;
    flex-direction: row; 
    gap: 8px;
    
}

.input__left {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: linear-gradient(
        rgba(120, 185, 245, 0.788),
        rgba(25, 144, 255, 0.788),
        rgba(120, 185, 245, 0.788)
    );
    border-radius: inherit;
    justify-content: space-around;
    align-items: center;
}

.input__right {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: linear-gradient(
        rgba(120, 185, 245, 0.788),
        rgba(25, 144, 255, 0.788),
        rgba(120, 185, 245, 0.788)
    );
    border-radius: inherit;
    align-items: center;
    justify-content: space-around;
    max-width: 225px;
}

.input__left {
    width: 90%;
}

.input__right {
    width: 30%;
}

.input__bottom {
    display: flex;
    flex-direction: column;
    width: 96%;
    border-radius: inherit;
}

.input__numeric, .input__backspace, .input__operator, .input__decimal{
   margin: 5px;
   border: none;
   font-size: 26px;
   color: black;
   width: 60px;
   height: 60px;
   border-radius: 50%;
   box-shadow: -5px -5px 10px rgba(128, 128, 128, 0.7), 
    5px 5px 10px rgba(0, 0, 0, 0.7);
}

.input__numeric, .input__backspace, .input__decimal {
    background-color: lightskyblue;
    background-image: linear-gradient(
        to bottom, white 0%, #83f3f3 50%, #63b9b9 100%
    );
}

.input__operator, .input__equality {
    background-color: rgb(5, 247, 5);
    background-image: linear-gradient(
        to bottom, #d0f8c3 0%, #93f774 50%, #3ef506 100%
    );
}

.input__equality {
    font-size: 26px;
    color: black;
    border-radius: 8px;
}
